/*
 *  Jose Angel Bonfil Evia
 *  This my website developed by myself :)
 */
$main-color: #999;
$fonts-color: #000;
$fonts-header-hover: #27A8DB;
$fonts-blog-post: #424242;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
}

body {

  margin: 0;
  padding: 0;
  background-color: rgb(55, 60, 63);
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;

  header {
    .inner-header {
      // susy grids container
      @include container;
    }
  }

  .wrapper {
    // susy grids container
    @include container;
    .col-left {
      // Susy main col
      @include span(4 first);
    }
    .col-right {
      // Susy side col
      @include span(8 last);
      position: relative;
      padding: 40px 60px 60px 60px;
    }
  }

  a:hover, a:link, a:visited {
    text-decoration: none;
  }
}